//--------------------------------------------------------------
// Cards
//
// Can't use settings for all things, like colors, since we have our own variables setup after settings is initialized.
//--------------------------------------------------------------
.card {
	background-color: $athens-gray;

	@include breakpoint(large) {
		margin-bottom: 0;
	}

	&:last-child {
		margin-bottom: 0;
	} // &:last-child

	// Content.
	p {
		font-size: rem-calc(16);
	} // p

	// Make sure images don't distort.
	img {
		height: auto;
		width: 100%;
	} // img
} // .card